﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<Magnify.Models._Shared> SharedLocalizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Magnify</title>
    @RenderSection("Metatags", false)

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="~/css/stylexipesaasland.css" rel="stylesheet" />
    <!--SWEETALERTS-->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122105245-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-122105245-4');
    </script>

</head>
<body>

    <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="X" class="letters-loading">
                        X
                    </span>
                    <span data-text-preloader="I" class="letters-loading">
                        I
                    </span>
                    <span data-text-preloader="P" class="letters-loading">
                        P
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="T" class="letters-loading">
                        T
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="H" class="letters-loading">
                        H
                    </span>
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="L" class="letters-loading">
                        L
                    </span>
                    <span data-text-preloader="O" class="letters-loading">
                        O
                    </span>
                    <span data-text-preloader="G" class="letters-loading">
                        G
                    </span>
                    <span data-text-preloader="Y" class="letters-loading">
                        Y
                    </span>
                </div>
                <p class="text-center">Loading</p>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header class="header_area">
        <nav class="navbar navbar-expand-lg menu_one menu_four hosting_menu">
            <div class="container">
                <a class="navbar-brand sticky_logo" href="/"><img src="~/img/Magnify_Logo_Color.png" class="logo_color" srcset="~/img/Magnify_Logo_Color.png" alt="logo"><img class="logo_negro" src="~/img/magnifyblack.png" srcset="~/img/magnifyblack.png" alt=""></a>
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu_toggle">
                        <span class="hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                        <span class="hamburger-cross">
                            <span></span>
                            <span></span>
                        </span>
                    </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav menu w_menu ml-auto">
                        <li class="nav-item dropdown submenu mega_menu mega_menu_two active">
                            <a class="nav-link dropdown-toggle" href="~/Home/Index" role="button" aria-haspopup="true" aria-expanded="false">
                                Home
                            </a>
                        </li>
                        <li class="dropdown submenu nav-item">
                            <a title="Pages" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">@SharedLocalizer["Layout_Producto"]</a>
                            <ul role="menu" class=" dropdown-menu">
                                <li class="dropdown submenu nav-item">
                                    <a title="Ventajas" class="dropdown-toggle nav-link" role="button" aria-haspopup="true" aria-expanded="false" href="~/Home/Ventajas">@SharedLocalizer["Layout_Soluciones"] <span class="arrow_carrot-right"></span> </a>
                                </li>

                                <li class="dropdown submenu nav-item">
                                    <a title="Como iniciar" class="dropdown-toggle nav-link" role="button" aria-haspopup="true" aria-expanded="false" href="~/Home/Como_Iniciar">@SharedLocalizer["Layout_Como_iniciar"]<span class="arrow_carrot-right"></span> </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown submenu mega_menu">
                            <a class="nav-link dropdown-toggle" href="~/Home/Precio" role="button" aria-haspopup="true" aria-expanded="false">
                                @SharedLocalizer["Layout_Precio"]
                            </a>
                        </li>
                        <li class="nav-item dropdown submenu">
                            <a class="nav-link dropdown-toggle" href="~/Home/Blog" role="button" aria-haspopup="true" aria-expanded="false">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item dropdown submenu mega_menu">
                            <a class="nav-link dropdown-toggle" href="~/Home/Contacto" role="button" aria-haspopup="true" aria-expanded="false">
                                @SharedLocalizer["Layout_Contacto"]
                            </a>
                        </li>
                        <li class="nav-item dropdown submenu mega_menu">
                            <a class="nav-link dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                @SharedLocalizer["Layout_Iniciar_Sesion"]
                            </a>
                        </li>
                    </ul>
                    <a class="btn_get btn_hover hidden-sm hidden-xs" data-toggle="modal" data-target="#exampleModal" href="#" onclick="Demo()">@SharedLocalizer["Layout_Solicita_demo"]</a>
                </div>
            </div>
        </nav>
    </header>


    <div class="">
        @*<partial name="_CookieConsentPartial" />*@
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <section class="h_action_promo_area">
            <div class="overlay_bg" style="background: url('/img/bkg-01.png');"></div>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="h_promo_content">
                            <h2>
                                @SharedLocalizer["Layout_Decide_mejor"]
                            </h2>
                            <p>@SharedLocalizer["Layout_Conoce_facil"]</p>
                        </div>
                    </div>
                    <div class="col-md-4 text-right">
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn hosting_btn btn-footer btn_hover" onclick="Demo()">@SharedLocalizer["Layout_Solicita_demo"]</a>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer_area h_footer_dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="f_widget dark_widget company_widget">
                            <a href="#" class="f-logo"><img src="~/img/Magnify_Logo_Color.png" alt="" class="w-100"></a>
                            <p>@SharedLocalizer["Layout_Software_desarrollado"]</p>
                            <div class="f_social_icon">
                                <a href="https://www.facebook.com/XipeTechnology/" target="_blank" class="ti-facebook"></a>
                                <a href="https://twitter.com/xipe_tech" target="_blank" class="ti-twitter-alt"></a>
                                @await Html.PartialAsync("_SelectLanguagePartial")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_70">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">@SharedLocalizer["Layout_Producto"]</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="~/Home/Ventajas">@SharedLocalizer["Layout_Soluciones"]</a></li>
                                <li><a href="~/Home/Como_Iniciar">@SharedLocalizer["Layout_Como_iniciar"]</a></li>
                                <li><a href="~/Home/Precio">@SharedLocalizer["Layout_Precio"]</a></li>
                                <li><a href="~/Home/FAQs">@SharedLocalizer["Layout_FAQs"]</a></li>
                                <li><a href="~/Home/Privacy">@SharedLocalizer["Layout_Politica_privacidad"]</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">@SharedLocalizer["Layout_Compañia"]</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="http://xipedev.uk" target="_blank">Xipe U.K.</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="f_widget dark_widget about-widget pl_20">
                            <h3 class="f-title f_500 t_color f_size_18 mb_40">@SharedLocalizer["Layout_Contacto"]</h3>
                            <ul class="list-unstyled f_list">
                                <li><a href="mailto:info@xipetechnology.com">info@xipetechnology.com</a></li>
                                <li><a href="#">662 276 4075</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </footer>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" id="header">
                    <h5 class="modal-title" id="exampleModalLabel">@SharedLocalizer["Layout_Modal_Dejanos_Datos"]Déjanos tus datos para entrar al demo en vivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-42px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="Solicitar">
                        <img class="img-fluid" src="~/img/mac.png" />
                        <div class="form-group mt-4">
                            <label for="recipient-name" class="col-form-label">@SharedLocalizer["Layout_Modal_Nombre"]Nombre:</label>
                            <input type="text" class="form-control" id="name" name="Name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">@SharedLocalizer["Layout_Modal_Empresa"]Empresa:</label>
                            <input type="text" class="form-control" id="empresa" name="Enterprise">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">@SharedLocalizer["Layout_Modal_Email"]Email:</label>
                            <input type="text" class="form-control" id="email" name="Email">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">@SharedLocalizer["Layout_Modal_Telefono"]Teléfono:</label>
                            <input type="text" class="form-control" id="telefono" name="Phone">
                        </div>
                        <div class="modal-footer">
                            <button type="button" onclick="enviarCorreo1(); return false;" class="btn btn-primary">@SharedLocalizer["Layout_Modal_Solicitar"]Solicitar</button>
                        </div>
                    </form>
                    <div id="success">
                        <div class="box_alert media box_success">
                            <div class="alert_close">
                                <i class="icon_close" data-dismiss="modal" aria-label="Close" onclick="Liga();"></i>
                            </div>
                            <div class="icon"><i class="icon-check"></i></div>
                            <div class="media-body">
                                <h5>@SharedLocalizer["Layout_Modal_Solicitar_Demo"]¡Gracias por solicitar nuestro demo!</h5>
                                <h5 style="font-size:15px;">@SharedLocalizer["Layout_Modal_Magnify_Negocio"]Si Magnify es la solución para tu negocio, ponte en contacto con nosotros.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function enviarCorreo1() {
            var $form = $("#Solicitar");
            var data = getFormData($form);

            $.ajax({
                type: "POST",
                url: "/Home/enviarCorreo",
                data: data,
                success: function () {
                    $("#Solicitar").hide(function () { $("#success").fadeIn(); });
                    $("#header").hide();
                }
            });
        }

        function Liga() {
            url = 'https://login.dearlucy.co/packages?redirect_url=https%3A%2F%2Fpackages.dearlucy.co%2Fbusinessmanagement%3Fautoplay%3Don'
            window.open(url, '_blank');
            return false;
        }

        function Demo() {
            $("#Solicitar").css("display", "block");
            $("#header").css("display", "block");

        }

        function getFormData($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
    </script>

  

    @RenderSection("Scripts", required: false)
</body>
</html>
