﻿@model Magnify.Models.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Blog";
}

@section Metatags {
    @* METATAGS PARA FACEBOOK *@
    <meta property="og:url" content="https://magnify-test.gear.host/Home/Blog_Detalles/@Model.Category.Permalink" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="@Model.Category.Title" />
    <meta property="og:description" content="@Model.Category.Description" />
    <meta property="og:image" content="@Model.Category.Image.Replace("http://","https://")" />

    @* METATAGS PARA TWITTER *@
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Magnify" />
    <meta name="twitter:creator" content="Magnify" />


    @* METATAGS PARA WHATTSAP *@
    <meta property="og:image" content="http://demo.cloudimg.io/crop/200x200/n/@Model.Category.Image.Replace("http://","https://")" />
    <meta property="og:image:type" content="image/jpeg" />
}

<section class="blog_area sec_pad mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog_sidebar_left">
                <div class="blog_single mb_50">
                    <img class="img-fluid" src="@Model.Category.Image.Replace("http://","https://")" alt="Blog" />
                    <div class="blog_content">
                        <div class="post_date">
                            <h2>@Model.Category.Date.Substring(0, 2)<span>@Model.Category.Date.Substring(5, 4)</span></h2>
                        </div>
                        <a href="#">
                            <h4 class="f_p f_size_20 f_500 t_color mb-30">@Model.Category.Title</h4>
                        </a>
                        <p class="f_400 mb-30">@Model.Category.Description</p>
                        <p class="f_400 mb-30"> @Model.Category.Date</p>
                        <p class="f_400 mb-30">@Html.Raw(Model.Category.Body)</p>
                    </div>
                    <div class="post_share">
                        <div class="post-nam">@Localizer["Blog_Detalles_Compartir"] </div>
                        <div class="flex">
                            <a href="http://www.facebook.com/sharer.php?u=http://magnify-test.gear.host/Home/Blog_Detalles/@Model.Category.Permalink" target="_blank"><i class="ti-facebook"></i>Facebook</a>
                            <a href="http://twitter.com/intent/tweet?status=@Model.Category.Title+http://magnify-test.gear.host/Home/Blog_Detalles/@Model.Category.Permalink" target="_blank"><i class="ti-twitter"></i>Twitter</a>
                            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://magnify-test.gear.host/Home/Blog_Detalles/@Model.Category.Permalink&source=LinkedIn" target="_blank"><i class="ti-linkedin"></i>Linkedin</a>
                            <a href="https://web.whatsapp.com/send?text=http://magnify-test.gear.host/Home/Blog_Detalles/@Model.Category.Permalink" target="_blank"><i class="fab fa-whatsapp"></i>Whatsapp</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>