﻿@model Magnify.Models.IndexViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Blog";

}


<section class="breadcrumb_area" style="margin-top:-200px;">
</section>

<!--MI SECCIÓN-->
<section class="blog_area sec_pad">
    <div class="container">
        <div class="row">
            @if (Model.News.Count > 0)
            {
                <div class="row">
                    <div class="col-lg-8">
                        @foreach (var item in Model.News)
                        {
                            <div class="row">
                                <div class="col-12">
                                    <div class="blog_list_item mb_50">
                                        <img class="img-fluid" src="@item.Image.Replace("http://","https://")" alt="Noticias" />
                                        <div class="blog_content">
                                            <div class="post_date">
                                                <h2>@item.CreationDate.Day<span>@item.CreationDate.ToString("MMM")</span></h2>
                                            </div>
                                            <h4 class="f_p f_size_20 f_500 t_color mb_20">@item.Title</h4>
                                            <p class="f_400 mb_20">@item.Description</p>

                                            <a href="/Home/Blog_Detalles/@item.Permalink" class="learn_btn_two">@Localizer["Blog_Leer_Mas"]<i class="ti-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }


                        <div class="row">
                            <div class="col-12">
                                <nav>
                                    <ul class="list-unstyled page-numbers shop_page_number text-left mt_30">
                                        @if (Model.PaginaActual > 0)
                                        {
                                            <li><a class="next page-numbers" href="/Home/Blog/@(Model.PaginaActual - 1)"><i class="ti-arrow-left"></i></a></li>
                                        }

                                        @for (int i = 0; i <= Model.PaginasCount; i++)
                                        {
                                            var clase = i == Model.PaginaActual ? "current" : "";
                                            var url = i != Model.PaginaActual ? $"/Home/Blog/{i}" : "##";

                                            <li><a class="page-numbers @clase" href="@url">@(i + 1)</a></li>
                                        }

                                        @if (Model.PaginaActual < Model.PaginasCount)
                                        {
                                            <li><a class="next page-numbers" href="/Home/Blog/@(Model.PaginaActual + 1)"><i class="ti-arrow-right"></i></a></li>
                                        }
                                    </ul>
                                </nav>
                            </div>
                        </div>



                    </div>
                    <div class="col-lg-4">
                        <div class="blog-sidebar">
                            <div class="widget sidebar_widget widget_search">
                                <form action="~/Home/Search" class="search-form input-group" method="post">
                                    <input type="text" name="texto" class="form-control widget_input" placeholder="@Localizer["Blog_Buscar"]">
                                    <button type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>


                            <div class="widget sidebar_widget widget_tag_cloud mt_60">
                                <div class="widget_title">
                                    <h3 class="f_p f_size_20 t_color3">Tags</h3>
                                    <div class="border_bottom"></div>
                                </div>
                                <div class="post-tags">
                                    <a href="#">Xipetechnology</a>
                                    <a href="#">Magnify</a>
                                    <a href="#">Software</a>
                                    <a href="#">@Localizer["Blog_Tags_Analisis"]</a>
                                    <a href="#">@Localizer["Blog_Tags_Soluciones"]</a>
                                    <a href="#">@Localizer["Blog_Tags_Facturacion"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            }
            else
            {
                <div class="col-12">
                    <h1 class="text-center">@Localizer["Blog_No_articulos"]</h1>
                </div>
            }
        </div>
    </div>
</section>


