﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Como Iniciar";
}

<section class="sec_pad mt-5">
    <div class="container">
        <div class="breadcrumb_content text-center">
            <h1 class="f_p f_700 f_size_50 erp_title l_height50 mb_20">
                @Localizer["Inicar_Iniciar_Facilmente"]
            </h1>
            <p>
                @Localizer["Iniciar_Diseñamos_Proceso"]
            </p>
        </div>
    </div>
</section>

<div class="setup_inner">
    <div class="setup_item row">
        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
            <img class="img-fluid" src="~/img/Stage 1.png" alt="Stage 1">
        </div>
        <div class="col-md-2 s_number">
            <div class="round">01</div>
        </div>
        <div class="col-md-5">
            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                <h5>@Localizer["Iniciar_Mineria"]</h5>
                <h5 style="font-size:15px;">@Localizer["Iniciar_Primer_Paso"]</h5>
                <p>@Localizer["Iniciar_Nuestros_Asesores"]</p>
            </div>
        </div>
        <div class="line bottom_half wow height" data-wow-delay="0.5s"></div>
    </div>
    <div class="setup_item row flex-row-reverse">
        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
            <img class="img-fluid" src="~/img/Stage 2.png" alt="Stage 2">
        </div>
        <div class="col-md-2 s_number">
            <div class="round">02</div>
        </div>
        <div class="col-md-5">
            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                <h5>@Localizer["Iniciar_Transformacion"]</h5>
                <h5 style="font-size:15px;">@Localizer["Iniciar_Convertimos_Informacion"]</h5>
                <p>@Localizer["Iniciar_Diseñamos_Modelo"]</p>
            </div>
        </div>
        <div class="line wow height" data-wow-delay="0.9s"></div>
    </div>
    <div class="setup_item row">
        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
            <img class="img-fluid" src="~/img/Stage 3.png" alt="Stage 3">
        </div>
        <div class="col-md-2 s_number">
            <div class="round">03</div>
        </div>
        <div class="col-md-5">
            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                <h5>@Localizer["Iniciar_Procesamiento"]</h5>
                <h5 style="font-size:15px;">@Localizer["Iniciar_Convertimos_Indicadores"]</h5>
                <p>@Localizer["Iniciar_Tomamos_Informacion"]</p>
            </div>
        </div>
        <div class="line wow height" data-wow-delay="1.5s"></div>
    </div>
    <div class="setup_item row flex-row-reverse">
        <div class="col-md-5 setup_img wow fadeInLeft" data-wow-delay="0.2s">
            <img class="img-fluid" src="~/img/Stage 4.png" alt="Stage 4">
        </div>
        <div class="col-md-2 s_number">
            <div class="round">04</div>
        </div>
        <div class="col-md-5">
            <div class="setup_content wow fadeInRight" data-wow-delay="0.4s">
                <h5>@Localizer["Iniciar_Visualizacion"]</h5>
                <h5 style="font-size:15px;">@Localizer["Iniciar_Despleagamos_Informacion"]</h5>
                <p>@Localizer["Iniciar_Tablero_Alimenta"]</p>
            </div>
        </div>
        <div class="line wow height" data-wow-delay="0.9s"></div>
    </div>
</div>

