﻿@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = "Contacto";
}
@inject IViewLocalizer Localizer



<section class="contact_info_area sec_pad bg_color">
    <div class="container hosting_title d-none d-sm-none d-md-block">
        <h1 class="f_size_30 f_600 t_color3 l_height45 text-center  mt-5">@Localizer["Contacto_Empieza_ahora"]</h1>
        <p class="f_size_20 f_600 l_height45 text-center mb_90" style="margin-bottom:90px;">@Localizer["Contacto_Obten_magnify"]</p>
        <div class="row">
            <div class="col-lg-3 pr-0">
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">
                        @Localizer["Contacto_Direccion_oficinas"]
                    </h6>
                    <p class="f_400 f_size_15">
                        Calz. de los Ángeles 127-D, Casa Grande, 83246 Hermosillo, Son
                    </p>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-1">
                <div class="contact_form">
                    <form id="formulario" class="contact_form_box">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="name" name="Name" placeholder="@Localizer["Contacto_Nombre"]" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="email" name="Email" placeholder="@Localizer["Contacto_Email"]">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="empresa" name="Empresa" placeholder="@Localizer["Contacto_Empresa"]">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group text_box">
                                    <input type="text" id="phone" name="Phone" placeholder="@Localizer["Contacto_Teléfono"]">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <select class="dropdown_contact form-group select-add-placeholder" name="Enterprise">
                                    <option value="Director">@Localizer["Contacto_Director"]</option>
                                    <option value="Propietario">@Localizer["Contacto_Propietario"]</option>
                                    <option value="Administrador">@Localizer["Contacto_Administrador"]</option>
                                    <option value="Contador">@Localizer["Contacto_Contador"]</option>
                                </select>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <input type="text" id="subject" name="Subject" placeholder="@Localizer["Contacto_Asunto"]">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group text_box">
                                    <textarea name="Message" id="message" cols="30" rows="10" placeholder="@Localizer["Contacto_Ingresa_tu_mensaje"]"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text_box">
                                <p class="f_400 f_size_15">*@Localizer["Contacto_Formulario_politica"]</p>
                            </div>
                        </div>
                        <button type="button" onclick="enviarCorreo(); return false;" class="btn btn-lg btn-primary btn_hover">@Localizer["Contacto_Enviar"]</button>
                        <div id="success">
                            <div class="box_alert media box_success">
                                <div class="alert_close"><i class="icon_close"></i></div>
                                <div class="icon"><i class="icon-check"></i></div>
                                <div class="media-body">
                                    <h5>@Localizer["Contacto_contactarnos"]</h5>
                                    <p>@Localizer["Contacto_brevedad"]</p>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div id="nombre_error" style="display:none;">
                        <div class="box_alert media box_warning">
                            <div class="alert_close"><i class="icon_close"></i></div>
                            <div class="icon"><i class="icon-info"></i></div>
                            <div class="media-body">
                                <h5>@Localizer["Contacto_Alerta"]</h5>
                                <p>@Localizer["Contacto_Campo_nombre"]</p>
                            </div>
                        </div>
                    </div>

                    <div id="correo_error" style="display:none;">
                        <div class="box_alert media box_warning">
                            <div class="alert_close"><i class="icon_close"></i></div>
                            <div class="icon"><i class="icon-info"></i></div>
                            <div class="media-body">
                                <h5>@Localizer["Contacto_Alerta"]</h5>
                                <p>@Localizer["Contacto_Campo_Email"]</p>
                            </div>
                        </div>
                    </div>

                    <div id="telefono_error" style="display:none;">
                        <div class="box_alert media box_warning">
                            <div class="alert_close"><i class="icon_close"></i></div>
                            <div class="icon"><i class="icon-info"></i></div>
                            <div class="media-body">
                                <h5>@Localizer["Contacto_Alerta"]</h5>
                                <p>@Localizer["Contacto_Campo_Telefono"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container hosting_title d-block d-sm-block d-md-none">
        <h1 class="f_size_30 f_600 t_color3 l_height45 text-center  mt-5">@Localizer["Contacto_Empieza_ahora"]</h1>
        <p class="f_size_20 f_600 l_height45 text-center mb_90" style="margin-bottom:90px;">@Localizer["Contacto_Obten_magnify"]</p>
        <div class="row">
            <div class="col-lg-8 offset-lg-1">
                <div class="contact_form mb-5">
                    @*<form id="formulario" class="contact_form_box">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group text_box">
                                        <input type="text" id="name" name="Name" placeholder="Nombre">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text_box">
                                        <input type="text" id="email" name="Email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text_box">
                                        <input type="text" id="empresa" name="Empresa" placeholder="Empresa">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group text_box">
                                        <input type="text" id="phone" name="Phone" placeholder="Teléfono">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <select class="dropdown_contact form-group select-add-placeholder" name="Enterprise">
                                        <option value="Director">Director</option>
                                        <option value="Propietario">Propietario</option>
                                        <option value="Administrador">Administrador</option>
                                        <option value="Contador">Contador</option>
                                    </select>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group text_box">
                                        <input type="text" id="subject" name="Subject" placeholder="Asunto">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group text_box">
                                        <textarea name="Message" id="message" cols="30" rows="10" placeholder="Ingresa tu mensaje . . ."></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12 text_box">
                                    <p class="f_400 f_size_15">*Al llenar este formulario aceptas nuestra Política de Privacidad</p>
                                </div>
                            </div>
                            <button type="button" onclick="enviarCorreo(); return false;" class="btn btn-lg btn-primary btn_hover">Enviar</button>
                            <div id="success">
                                <div class="box_alert media box_success">
                                    <div class="alert_close"><i class="icon_close"></i></div>
                                    <div class="icon"><i class="icon-check"></i></div>
                                    <div class="media-body">
                                        <h5>¡Gracias por contactarnos!</h5>
                                        <p>Nos comunicaremos contigo a la brevedad.</p>
                                    </div>
                                </div>
                            </div>
                        </form>*@
                </div>
            </div>

            <div class="col-lg-3 pr-0">
                <div class="contact_info_item">
                    <h6 class="f_p f_size_20 t_color3 f_500 mb_20">
                        @Localizer["Contacto_Direccion_oficinas"]Dirección de oficinas
                    </h6>
                    <p class="f_400 f_size_15">
                        Calz. de los Ángeles 127-D, Casa Grande, 83246 Hermosillo, Son
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function enviarCorreo() {
        var $form = $("#formulario");
        var data = getFormData($form);

        if ($('#name').val() == "") {
            $("#nombre_error").hide(function () { $("#nombre_error").fadeIn(); setTimeout(function () { $("#nombre_error").hide() }, 3000) });

        } else if ($('#email').val() == "") {
            $("#correo_error").hide(function () { $("#correo_error").fadeIn(); });

        } else if ($('#phone').val() == "") {
            $("#telefono_error").hide(function () { $("#telefono_error").fadeIn(); });
        } else {
            $.ajax({
                type: "POST",
                url: "/Home/enviarCorreo",
                data: data,
                success: function () {
                    $("#success").hide(function () { $("#success").fadeIn(); });
                },
            });
        }
    }

    function getFormData($form) {
        var unindexed_array = $form.serializeArray();
        var indexed_array = {};

        $.map(unindexed_array, function (n, i) {
            indexed_array[n['name']] = n['value'];
        });
        return indexed_array;
    }
</script>

<script>
    $(".select-add-placeholder").prepend("<option value='' disabled selected>@Localizer["Contacto_Cual_rol"]</option>");
</script>