﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Magnify.Models.IndexViewModel
@inject IViewLocalizer Localizer




<div class="body_wrapper">
    <section class="hosting_banner_area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 d-flex align-items-center">
                    <div class="hosting_content">
                        <h2 class="wow fadeInUp" data-wow-delay="0.3s">@Localizer["Toma_decisiones"]</h2>
                        <p class="wow fadeInUp" data-wow-delay="0.5s">@Localizer["Con_magnify_descubre"]</p>
                        <a href="#" data-toggle="modal" data-target="#exampleModal" class="hosting_btn btn_hover wow fadeInUp" data-wow-delay="0.7s" onclick="Demo()">@Localizer["Solicita_demo"]</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="intro">
                        <div class="app_img">
                            <div class="dot dot_one wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <div class="dot dot_two wow fadeIn" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <div class="dot dot_three wow fadeIn" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeIn;"><span class="dot1"></span><span class="dot2"></span></div>
                            <img class="text_bg one wow fadeInLeft" data-wow-delay="0.8s" src="~/img/WE1.png" alt="" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                            <img class="text_bg two wow fadeInDown" data-wow-delay="0.5s" src="~/img/WE2.png" alt="" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInDown;">
                            <img class="text_bg three wow fadeInRight" data-wow-delay="0.3s" src="~/img/we3.png" alt="" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                            <img class="wow fadeIn phone_img" src="~/img/APP.png" alt="" style="visibility: visible; animation-name: fadeIn;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="erp_analytics_area">
        <div class="container">
            <div class="hosting_title erp_title text-center">
                <h2>@Localizer["En_todo_momento"]</h2>
                <p>@Localizer["Accede_en_tiempo"]</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp">
                        <img src="~/img/ico3-01.png" alt="Inteligencia de negocio" />
                        <p>@Localizer["Inteligencia_de_negocios"]</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.2s">
                        <img src="~/img/ico1-01.png" alt="Métricas empresariales" />
                        <p>@Localizer["Metricas_empresariales"]</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="erp_analytics_item text-center wow fadeInUp" data-wow-delay="0.4s">
                        <img src="~/img/ico2-01.png" alt="Análisis de datos" />
                        <p>@Localizer["Informacion_encriptada"]</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hosting_features_area" style="padding-top:140px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="h_features_img">
                        <img class="img-fluid w-100" src="~/img/pantallas.png" alt="Soluciones integrales" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="h_features_content">
                        <div class="hosting_title">
                            <h2>@Localizer["Soluciones_inteligentes"]</h2>
                            <p>@Localizer["Magnify_te_da"]</p>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon7.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">@Localizer["Ahorra_tiempo"]</h4>
                                <p>@Localizer["En_unos_minutos"]</p>
                            </div>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon8.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">@Localizer["Comparte_la_informacion"]</h4>
                                <p>@Localizer["Da_acceso"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hosting_features_area">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6">
                    <div class="h_features_img">
                        <img class="img-fluid" src="~/img/image2.png" alt="Integración con SQL y Excel" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="h_features_content">
                        <div class="hosting_title">
                            <h2>@Localizer["Tecnologia"]</h2>
                            <p>@Localizer["Crea_tu_cuenta"]</p>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon9.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">@Localizer["Integracion_con_sql"]</h4>
                                <p>
                                    @Localizer["Proporciona_la_informacion"]
                                </p>
                            </div>
                        </div>
                        <div class="media h_features_item">
                            <img src="img/icon10.png" alt="">
                            <div class="media-body">
                                <h4 class="h_head">@Localizer["Integracion_facturacion"]</h4>
                                <p>@Localizer["Visualiza_los_indicadores"]</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                <a href="/Home/Ventajas" class="er_btn hosting_btn_price">@Localizer["Conoce_mas"]</a>
            </div>
        </div>
    </section>
    <section class="h_action_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="h_action_img">
                        <img class="img-fluid" src="~/img/action_img.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="h_action_content">
                        <h2>@Localizer["Comienza_a_tomar"]</h2>
                        <p>@Localizer["Tu_decides"]</p>
                        <a href="/Home/Precio" class="hosting_btn btn_hover">@Localizer["Precios"]</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="app_testimonial_area">
        <div class="text_shadow" data-line="Feedback"></div>
        <div class="container nav_container">
            <div class="shap one"></div>
            <div class="shap two"></div>
            <div class="app_testimonial_slider owl-carousel">
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Adrían Salgado</h6>
                        <p>Ambr Consultoría</p>
                    </div>
                    <p class="f_400">@Localizer["Es_una_herramienta"]</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">Daniel Mondragón</h6>
                        <p>Construkino</p>
                    </div>
                    <p class="f_400">@Localizer["Magnify_es_de_gran"]</p>
                </div>
                <div class="app_testimonial_item text-center">
                    <div class="author-img"><img src="~/img/author_img.png" alt=""></div>
                    <div class="author_info">
                        <h6 class="f_p f_500 f_size_18 t_color3 mb-0">David Mayorquin</h6>
                        <p>Fresh Froods</p>
                    </div>
                    <p class="f_400">@Localizer["Vino_a_solucionar"]</p>
                </div>
            </div>
        </div>
    </section>
    <section class="h_blog_area sec_pad">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="hosting_title text-center">
                        <h2>@Localizer["Tendencias"]</h2>
                        <p>@Localizer["Conoce_las_ultimas"]</p>
                    </div>
                </div>
                @if (Model.News.Count > 0)
                {
                    <div class="row">
                        @foreach (var item in Model.News)
                        {
                            <div class="col-6 d-flex align-items-stretch">
                                <div class="row">
                                    <div class="col-12 d-flex align-items-stretch">
                                        <div class="h_blog_item">
                                            <img class="img-fluid" src="@item.Image.Replace("http://","https://")" alt="Noticias" />
                                            <div class="h_blog_content">
                                                <a href="#" class="post_time"><i class="icon_clock_alt"></i><span>@item.CreationDate.ToString("dd MMMM yyyy")</span></a>
                                                <a href="#"><h3>@item.Title</h3></a>
                                                <div class="post-info-bottom">
                                                    <a href="/Home/Blog_Detalles/@item.Permalink" class="learn_btn_two">@Localizer["Leer_Mas"]<i class="arrow_right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </section>
</div>
