﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Precio";
}

<section class="s_pricing_area sec_pad">
    <div class="container custom_container">
        <div class="sec_title text-center mb_70">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3 mt-5">@Localizer["Precio_Obten_herramienta"]</h2>
            <p class="f_400 f_size_18 l_height34">@Localizer["Precio_Empieza_crear"]</p>
        </div>
        <div class="row mb_30">
            <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                <div class="s_pricing-item">
                    <img class="shape_img" src="~/img/price_line1.png" alt="">
                    <div class="s_price_icon p_icon1">
                        <i class="flaticon-mortarboard"></i>
                    </div>
                    <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">@Localizer["Precio_Mensual"]</h5>
                    <div class="price f_size_30 f_p f_700">$2,500<sub class="f_400 f_size_16"></sub></div>
                    <ul class="list-unstyled mt_30">
                        <li>@Localizer["Precio_Paga_mes"]</li>
                    </ul>
                    <a href="~/Home/Contacto" class="hosting_btn_price btn_hover mt_30">@Localizer["Precio_Contactanos"]</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                <div class="s_pricing-item">
                    <img class="shape_img" src="~/img/price_line2.png" alt="">
                    <div class="tag_label">@Localizer["Precio_Mejor_oferta"]</div>
                    <div class="s_price_icon p_icon2">
                        <i class="flaticon-lightbulb"></i>
                    </div>
                    <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">@Localizer["Precio_Anual"]</h5>
                    <div class="price f_size_30 f_p f_700">$25,000<sub class="f_400 f_size_16"></sub></div>
                    <ul class="list-unstyled mt_30">
                        <li>@Localizer["Precio_Ahorra_aprovechando"]</li>
                    </ul>
                    <a href="~/Home/Contacto" class="hosting_btn_price btn_hover mt_30">@Localizer["Precio_Contactanos"]</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 d-flex align-items-stretch">
                <div class="s_pricing-item">
                    <img class="shape_img" src="~/img/price_line3.png" alt="">
                    <div class="s_price_icon p_icon3">
                        <i class="flaticon-target"></i>
                    </div>
                    <h5 class="f_p f_600 f_size_20 t_color mb-0 mt_40">@Localizer["Precio_Plan_corporativo"]</h5>
                    <div class="price f_size_30 f_p f_700">@Localizer["Precio_Cotizacion"]<sub class="f_400 f_size_16"></sub></div>
                    <ul class="list-unstyled mt_30">
                        <li>@Localizer["Precio_Contactanos_plan"]</li>
                    </ul>
                    <a href="~/Home/Contacto" class="hosting_btn_price btn_hover mt_30">@Localizer["Precio_Contactanos"]</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="analytices_list_area">
    <img class="macbook_a img-fluid" src="~/img/precios.png" alt="Mackbook">
    <div class="container">
        <div class="hosting_title analytices_title text-center">
            <h2><span>@Localizer["Precio_Obtienes_magnify"]</h2>
            <p>@Localizer["Precio_Diseñamos_herrmientas"]</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <ul class="analytices_list">
                    <li>@Localizer["Precio_Representacion_info"]</li>
                    <li>@Localizer["Precio_Reportes_diseñados"]</li>
                    <li>@Localizer["Precio_Alamcenamiento_nube"]</li>
                    <li>@Localizer["Precio_Usuarios_ilimitados"]</li>
                    <li>@Localizer["Precio_Registro_compañia"]</li>
                    <li>@Localizer["Precio_Acceso_informacion"]</li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <ul class="analytices_list">
                    <li>@Localizer["Precio_Comparte_reportes"]</li>
                    <li>@Localizer["Precio_App_movil"]</li>
                    <li>@Localizer["Precio_Sistema_seguridad"]</li>
                    <li>@Localizer["Precio_Visualizacion_dispositivos"]</li>
                    <li>@Localizer["Precio_Integracion_excel"]</li>
                    <li>@Localizer["Precio_Soporte_tecnico"]</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<style>
    .analytices_list_area{
        padding-top:0;
        padding-bottom:230px;
    }
</style>