﻿@{
    ViewData["Title"] = "Politíca de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<section class="sec_pad">
    <div class="container">
        <div class="breadcrumb_content">
            <h1 class="f_p f_700 f_size_50 erp_title l_height50 mb_20 text-center">
                Política de Privacidad
            </h1>
            <blockquote class="blockquote mb_40">
                <h6 class="mb-0 f_size_18 l_height30 f_p f_400">
                    La privacidad y protección de tu información personal es muy importante, para darte la tranquilidad que tú necesitas al proporcionarnos tus datos, nuestra Política de Privacidad explica claramente qué datos solicitamos de tu parte y por qué, así como qué podemos hacer con esta información y cómo la protegemos.
                    <br />
                    A continuación describimos claramente los puntos sobre los cuales está basada nuestra política de privacidad:
                </h6>
            </blockquote>
        </div>
    </div>
</section>
<section class="blog_area cus_ptB_Bl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog_single mb_50">
                    <h2 class="f_p f_700 erp_title l_height50 mb_20">
                        I. Recopilación y uso de información
                    </h2>
                    <h4>
                        ¿Para qué recabamos tus datos personales?
                    </h4>
                    <p>
                        Tu información personal te permite solicitar un demo de nuestra plataforma o bien ponerte en contacto con nosotros.
                        Nuestra empresa está ubicada en Calzada de los Ángeles No.127-D Colonia Casa Grande, conforme a lo dispuesto por la fracción XIV del artículo 3º de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, es responsable de recabar, utilizar y proteger tus datos personales.
                    </p>

                    <h4>
                        ¿Qué datos personales recabamos?
                    </h4>
                    <p>
                        Para solicitar un demo o bien ponerte en contacto con nosotros requerimos que nos proporciones los siguientes datos: Nombre (s), apellidos, correo electrónico, teléfono, nombre de la empresa.
                        Tus datos personales recabados serán de uso exclusivo de Xipe Technology.
                    </p>

                    <h4>
                        ¿Cómo recabamos tus datos personales?
                    </h4>
                    <p>
                        Tus datos personales podrán ser recabados en cualquiera de las siguientes formas:
                        <ul>
                            <li style="list-style:none;">
                                A.  Al momento de solicitar el demo.
                            </li>
                            <li style="list-style:none;">
                                B. Al ponerte en contacto con nosotro.
                            </li>
                        </ul>
                    </p>

                    <h4>
                        En relación al uso de cookies.
                    </h4>
                    <p>
                        Las cookies son archivos de texto que son descargados automáticamente y almacenados en el navegador de tu ordenador, teléfono móvil, tablet o cualquier dispositivo de acceso a internet cuando navegas en una página web.   
                        Xipe Technology utiliza las cookies para reconocer el dispositivo en las próximas visitas, facilitando la navegación en el sitio, gracias a que reconoce tus preferencias y configuración, como por ejemplo: datos de acceso, idioma, país. Así como te ayuda a conservar tu sesión abierta.
                        Las cookies no almacenan dato personal alguno, ni ningún tipo de información que pueda identificarte, y son útiles e importantes porque permiten que la web funcione de forma ágil y adaptada a tus preferencias, por dicha razón te recomendamos mantenerlas activas, así podrás navegar fácilmente mientras visitas nuestro sitio.
                    </p>

                    <p class="font-italic">
                        IMPORTANTE: una vez realizada la contratación de nuestra plataforma te haremos llegar nuestra política de privacidad para el manejo de la información de datos empresariales.
                    </p>
                </div>

                <div class="blog_single mb_50">
                    <h2 class="f_p f_700 erp_title l_height50 mb_20">
                        II. Protección y transferencia de información
                    </h2>
                    <p>
                        Por su parte, Xipe Technology ha adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias para proteger tus datos personales contra pérdida, alteración, destrucción,  tratamiento no autorizado o divulgación indebida, brindando acceso únicamente a las personas autorizadas para ello.
                    </p>
                    <p>
                        En lo que respecta a la transferencia de tus datos personales, Xipe Technology no realiza transferencias a terceros.
                    </p>
                    <p>
                        Los fines serán para uso exclusivo dentro de nuestra plataforma.
                    </p>
                </div>


                <div class="blog_single mb_50">
                    <h2 class="f_p f_700 erp_title l_height50 mb_20">
                        III. Limitaciones de uso o divulgación de información
                    </h2>
                    <p>
                        En todo momento podrás revocar el consentimiento que nos has otorgado para el tratamiento de tus datos personales, a fin de que dejemos de hacer uso de los mismos. Para ello, es necesario que presentes tu petición en <a href="mailto:info@xipetechnology.com">info@xipetechnology.com</a>  Esto ocurre cuando decides no continuar utilizando los beneficios que te ofrece Magnify, desactivando en cualquier momento la cuenta que tiene con nosotros.
                    </p>
                    <p>
                        Por otra parte,  tienes el derecho de acceder, rectificar y cancelar tus datos personales, así como de oponerte al tratamiento de los mismos o revocar el consentimiento que para tal fin haya otorgado a Xipe Technology, para lo cual podrás hacernos llegar tu solicitud a través de nuestro correo electrónico <a href="mailto:info@xipetechnology.com">info@xipetechnology.com</a>
                    </p>
                    <p>
                        Si deseas dejar de recibir mensajes promocionales de nuestra parte, puedes solicitarlo a través de la siguiente dirección de correo electrónico: <a href="mailto:info@xipetechnology.com">info@xipetechnology.com</a>
                    </p>
                    <p>
                        Xipe Technology,  puede cambiar su Política de Privacidad, para incorporar mejoras en la protección y uso de los datos personales, comunicando en nuestra página de internet <a href="http://magnifyboard.com/">www.magnifyboard.com</a>  las modificaciones efectuadas. Con la continuidad en el uso de nuestro servicio, quedamos en el entendido de tu aceptación a las nuevas disposiciones.
                    </p>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="blog_single mb_50">
                            <h5 class="f_p f_700 erp_title font-weight-bold l_height50 mb_20 text-right">
                                Última fecha de actualización: 25 de Noviembre de 2019
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="f_p f_700 erp_title font-weight-bold mb_20 text-center">
                            ATENTAMENTE<br />
                            Xipe Technology
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="f_p f_700 erp_title font-weight-bold mb_20">
                            Hermosillo, Sonora.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
