﻿@model List<Magnify.Models.ArticleModel>
@{
    ViewData["Title"] = "Blog";
}

<section style="padding:120px;">
    <div class="container">
        @if (Model.Count > 0)
        {
            <h2 class="text-center" style="padding:80px;">@Model.Count resultado(s) encontrados:</h2>
        }
        else
        {
            <h2 class="text-center" style="padding:120px;margin-top:8rem">No hay artículos</h2>
        }
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    @foreach (var item in Model)
                    {
                        <div class="container-fluid mt-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <img src="@item.Image.Replace("http://","https://")" class="img-fluid" />
                                </div>
                                <div class="col-md-6">
                                    <h2>@item.Title</h2>
                                    <p>@item.Description</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>