﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Ventajas";
}

<section class="perfect_solution_area bg_color">
    <div class="col-lg-6 perfect_solution_right">
        @*<div class="bg_img bg_two parallax-effect" style="transform: translateY(-40.2209px);"></div>*@
    </div>
    <div class="col-lg-6 perfect_solution_left">
        <div class="per_solution_content per_solution_content_three">
            <h2>@Localizer["Ventajas_Toda_empresa"]</h2>
            <p>@Localizer["Ventajas_Maginify_es_una"]</p>
            <a href="~/Home/Contacto" class="hosting_btn btn_hover">@Localizer["Ventajas_Contactar"]</a>
            <a href="#" data-toggle="modal" data-target="#exampleModal" class=" btn_six btn_hover hosting_btn">@Localizer["Ventajas_Solicitar_demo"]</a>
        </div>
    </div>
</section>
<section class="pos_developer_product_area sec_pad">
    <div class="container">
        <div class="hosting_title text-center">
            <h2 class="wow fadeInUp" data-wow-delay="0.3s">
                @Localizer["Ventajas_Tecnologia_seguridad"]
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="tab_img_info">
                    <div class="tab_img active" id="tab_one">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="img/pos/High-end-all-in-one-dual-screen.png" alt="">
                        <div class="square"></div>
                        <div class="bg_circle"></div>
                        <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                        <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                        <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div></div>
                    </div>
                    <div class="tab_img" id="tab_two">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="img/pos/ezgif-1-997e5035cba4.png" alt="">
                        <div class="square"></div>
                        <div class="bg_circle green"></div>
                        <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                        <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                        <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div></div>
                    </div>
                    <div class="tab_img" id="tab_three">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="img/pos/pos.png" alt="">
                        <div class="square"></div>
                        <div class="bg_circle pink"></div>
                        <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                        <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                        <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div></div>
                    </div>
                    <div class="tab_img" id="tab_four">
                        <img class="img-fluid wow fadeInRight" data-wow-delay="0.4s" src="img/pos/b_dashboard.png" alt="">
                        <div class="square"></div>
                        <div class="bg_circle yellow"></div>
                        <div data-parallax='{"x": 0, "y": 100}' class="tab_round"></div>
                        <div data-parallax='{"x": 50, "y": 5}' class="tab_triangle"></div>
                        <div data-parallax='{"x": 0, "y": 100}'><div class="pattern_shap" style="background: url(img/pos/tab_pattern.png);"></div></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center">
                <div class="developer_product_content">
                    <ul class="nav nav-tabs develor_tab mb-30" id="myTab2" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" data-tab="tab_one" id="ruby-tab" data-toggle="tab" href="#ruby" role="tab" aria-controls="ruby" aria-selected="true">@Localizer["Ventajas_Base"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_two" id="curl-tab" data-toggle="tab" href="#curl" role="tab" aria-controls="curl" aria-selected="false">@Localizer["Ventajas_Metricas"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_three" data-toggle="tab" href="#resize" role="tab" aria-controls="resize" aria-selected="false">@Localizer["Ventajas_Seguridad"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-tab="tab_four" id="doctl-tab" data-toggle="tab" href="#doctl" role="tab" aria-controls="doctl" aria-selected="false">@Localizer["Ventajas_Comparte"]</a>
                        </li>
                    </ul>
                    <div class="tab-content developer_tab_content">
                        <div class="tab-pane fade active show" id="ruby" role="tabpanel" aria-labelledby="ruby-tab">
                            <h4>
                                @Localizer["Ventajas_Nos_encargamos"]
                            </h4>
                            <p>
                                @Localizer["Ventajas_Extraemos"]

                            </p>
                        </div>
                        <div class="tab-pane fade" id="curl" role="tabpanel" aria-labelledby="curl-tab">
                            <h4>@Localizer["Ventajas_Con_inteligencia"]</h4>
                            <p>@Localizer["Ventajas_Tecnologia"]</p>
                        </div>
                        <div class="tab-pane fade" id="resize" role="tabpanel" aria-labelledby="resize-tab">
                            <h4>@Localizer["Ventajas_Sistema_inteligencia"]</h4>
                            <p>
                                @Localizer["Ventajas_Informacion_empresa"]
                            </p>
                        </div>
                        <div class="tab-pane fade" id="doctl" role="tabpanel" aria-labelledby="doctl-tab">
                            <h4>@Localizer["Ventajas_inventory"]</h4>
                            <p>
                                @Localizer["Ventajas_Permite_miembros"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pos_features_area sec_pad">
    <div class="container">
        <div class="row flex-row-reverse pos_item">
            <div class="col-lg-6">
                <div class="pos_features_img">
                    <div class="shape_img"></div>
                    <div class="shap_img">
                        <img src="img/pos/item1.png" alt="features">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pos_features_content">
                    <h2>@Localizer["Ventajas_Conoce_negocio"]</h2>
                    <div class="media h_features_item">
                        <i class="icon_lightbulb_alt"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Reportes_nivel"]</h3>
                            <p>
                                @Localizer["Ventajas_Realizando_analisis"]
                            </p>
                        </div>
                    </div>
                    <div class="media h_features_item">
                        <i class="icon_bag_alt orange"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Visualiza_reportes"]</h3>
                            <p>
                                @Localizer["Ventajas_Analisis_ingresos"]
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pos_item">
            <div class="col-lg-6">
                <div class="pos_features_img img_left">
                    <div class="shape_img yellow"></div>
                    <div class="shap_img yellow">
                        <img src="img/pos/item2.png" alt="features">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pos_features_content pl_70">
                    <h2>@Localizer["Ventajas_Conoce_Clientes"]</h2>
                    <div class="media h_features_item">
                        <i class="icon_key_alt red"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Reportes_agiles"]</h3>
                            <p>@Localizer["Ventajas_Descubre_comportamiento"]</p>
                        </div>
                    </div>
                    <div class="media h_features_item">
                        <i class="icon_bag_alt green"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Visualiza_reportes"]</h3>
                            <p>@Localizer["Ventajas_Quien_cliente"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row flex-row-reverse pos_item">
            <div class="col-lg-6">
                <div class="pos_features_img">
                    <div class="shape_img blue"></div>
                    <div class="shap_img blue">
                        <img src="img/pos/item3.png" alt="features">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pos_features_content">
                    <h2>@Localizer["Ventajas_Conoce_Producto"]</h2>
                    <div class="media h_features_item">
                        <i class="icon_check check"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Mejora_Producto"]</h3>
                            <p>@Localizer["Ventajas_Informacion_Mercados"]</p>
                        </div>
                    </div>
                    <div class="media h_features_item">
                        <i class="icon_check check"></i>
                        <div class="media-body">
                            <h3 class="h_head">@Localizer["Ventajas_Visualiza_reportes"]</h3>
                            <p>@Localizer["Ventajas_Rotacion_Productos"]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pos_about_area">
    <div class="container">
        <div class="hosting_title text-center">
            <h2 class="wow fadeInUp w_color" data-wow-delay="0.3s">@Localizer["Ventajas_Accede_Plataforma"]</h2>
        </div>
        <p class="w_color text-center">@Localizer["Ventajas_Diseño_Celular_Laptop"]</p>
        <img class="pos_about_img" src="~/img/b_dashboard.png" alt="">
    </div>
</section>
<section class="payment_features_area_three bg_color">
    @*<div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex align-items-center">
                    <div class="payment_features_content_two">
                        <h2 class="t_color">Velocidad y accesibilidad</h2>
                        <p>
                            Olvida largos tiempos de espera para ver tus datos, nuestro modelos de procesamiento de información garantiza que se muestre rápido en cualquier dispositivo, incluso con baja velocidad de internet.
                        </p>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <img src="img/new/icon/icon1.png" alt="">
                                    <h3>
                                        Seguridad y comodidad
                                    </h3>
                                    <p>La vida es muy corta para estar escribiendo el usuario y el password cada vez que deseas acceder a tus datos. Por eso incorporamos inicio de sesión con QR.</p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="item">
                                    <img src="img/new/icon/icon2.png" alt="">
                                    <h3>
                                        Una gran experiencia para todos
                                    </h3>
                                    <p>Mantén al tanto a tus múltiples usuarios de manera simultánea, desde una misma plataforma y con una misma sesión.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <img class="img-fluid" src="~/img/features_01.png" alt="">
                </div>
            </div>
        </div>*@
</section>